<!DOCTYPE html>
<html>
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" href="stylesheets/style.css"/-->

    <!-- JS -->
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if tab == 1 %} class = "active" {% endif %}>
            <a href="/"> Home </a>
          </li>
          <li {% if tab == 2 %} class = "active" {% endif %}>
            <a href="/viewProfile"> Profile </a>
          </li>
          <li {% if tab == 3 %} class = "active" {% endif %}>
            <a href="/makePost">Submit a Trip</a>
          </li>
          
          <!--<li><a href="/logout"><{% if user %} Log Out {% else %} Log In {% endif %}</a></li>-->
          <li><a href="/logout">Log Out</a></li>
		  
        </ul>
        <h3 class="text-muted">tripPAL</h3>
      </div> <!-- End Header -->

      {% block bodycontent %}
      {% endblock %}

        <div align = "center" class="footer">
        <p>&copy; tripPAL 2015 <br><a href="/contactUs">Contact Us!</a></p>
      </div> <!-- End Footer -->
    </div> <!-- End Container -->
  </body>
</html>

