<!DOCTYPE html>
<html>
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" href="stylesheets/style.css"/-->

    <!-- JS -->
    <!--include jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    type="text/javascript"></script>
     
    <!--include jQuery Validation Plugin-->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"
    type="text/javascript"></script>
     
    <!--Optional: include only if you are using the extra rules in additional-methods.js -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/additional-methods.min.js"
    type="text/javascript"></script>
	
	<!-- Google Places -->
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
	<script src="static/autoComplete.js"></script>
  
  </head>
  <body onload="initialize()">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if tab == 1 %} class = "active" {% endif %}>
            <a href="/"> Home </a>
          </li>
          <li {% if tab == 2 %} class = "active" {% endif %}>
            <a href="/viewProfile"> Profile </a>
          </li>
          <li {% if tab == 3 %} class = "active" {% endif %}>
            <a href="/makePost">Submit a Trip</a>
          </li>
          
          <li><a href="/logout">{% if user %} Log Out {% else %} Log In {% endif %}</a></li>
          
        </ul>
        <h3 class="text-muted">tripPAL</h3>
      </div> <!-- End Header -->

      {% block bodycontent %}
      {% endblock %}

        <div align = "center" class="footer">
        <p>&copy; tripPAL 2015 <br><a href="/contactUs">Contact Us!</a></p>
      </div> <!-- End Footer -->
    </div> <!-- End Container -->
  </body>
</html>
