{% extends "base_template/base.html" %}
{% block bodycontent %}

        <div class="jumbotron">
          <form action="/contactUs" method="POST"> <!-- The method is the HTTP method used and action is the address sent to server -->
          <legend>Tell us what can we do for you... </legend>   
          <div class="row input-group">  
             <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
            <div class="col-xs-6 col-md-6">
              <label>From:</label> 
              <input type = "text" name = "from" required class="form-control input-sm">
            </div>
          </div>
          <br>
          <div class="row input-group">  
             <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
            <div class="col-xs-6 col-md-6 "> 
              <label>Subject:</label>
              <input type = "text" name = "subject" required class="form-control input-sm">
            </div>
          </div> 

    
          <br><br>
          <legend>Message </legend>  
          <textarea rows="5" cols="80" placeholder="Type in your message ..." name = "message" required></textarea><br><br>
          <button class="btn btn-info" type="submit" value = "Send">Send</button>
          <br>
          </form>
        </div>

{% endblock %}