{% extends "base_template/base.html" %}
{% block bodycontent %}

	<script src="static/comment.js"></script>
	<div class = "jumbotron">
		{% if type == 0 %}
			<div class="form-group">
				<div class="row input-group">
        		<label class="col-xs-3 control-label">Trip name:</label>
        		{{entity.name}}
        		</div>
        		<br><div class="row input-group">
				<label class="col-xs-3 control-label">Origin City:</label>{{entity.origin_city}}
				</div>
				<br><div class="row input-group">
				<label class="col-xs-3 control-label">Origin State:</label>  {{entity.origin_state}}  </div>
				<br><div class="row input-group">
				<label class="col-xs-3 control-label">Origin Zip:</label> {{entity.origin_zip}}</div><br><div class="row input-group">
				<label class="col-xs-3 control-label">Destination City:</label>{{entity.origin_city}}</div> <br><div class="row input-group">
				<label class="col-xs-3 control-label">Origin City:</label>{{entity.dest_city}} </div><br><div class="row input-group">
				<label class="col-xs-3 control-label">Destination State:</label>{{entity.dest_state}} </div> <br><div class="row input-group">
				<label class="col-xs-3 control-label">Destination Zip:</label>{{entity.dest_zip}}</div>
				<br><div class="row input-group">
				<label class="col-xs-3 control-label">Description:</label>{{entity.description}}</div> 
        	</div>

		{% else %}
		<div class="form-group"><div class="row input-group">
			<label class="col-xs-3 control-label">Commute name:</label> {{entity.name}}</div>
			<br><div class="row input-group">
			<label class="col-xs-3 control-label">Origin City:</label> {{entity.origin_city}}</div>
			<br><div class="row input-group">
			<label class="col-xs-3 control-label">Origin State:</label> {{entity.origin_state}} </div>
			<br><div class="row input-group">
			<label class="col-xs-3 control-label">Origin Zip:</label> {{entity.origin_zip}}</div>
			<br><div class="row input-group">
			<label class="col-xs-3 control-label">Destination City:</label> {{entity.dest_city}}</div><br><div class="row input-group">
			<label class="col-xs-3 control-label">Destination State:</label> {{entity.dest_state}}</div><br>
			<div class="row input-group">
			<label class="col-xs-3 control-label">Destination Zip:</label> {{entity.dest_zip}}</div>
			<br><div class="row input-group">
			<label class="col-xs-3 control-label">Description:</label> {{entity.description}}</div>
		</div> 	
		<div class="form-group">
			<label class="col-xs-3 control-label">Days:</label> 
				<div class="row">
			{%if entity.monday %}
				<div class="col-xs-1">
					<label class="btn btn-success active">Mon</label>
				</div>	
			{% endif %}
			{%if entity.tuesday %}
				<div class="col-xs-1">
					<label class="btn btn-primary active">Tue</label>
				</div>
			{% endif %}
			{%if entity.wednesday %}
				<div class="col-xs-1">
					<label class="btn btn-info active">Wed</label>
				</div>
			{% endif %}
			{%if entity.thursday %}
				<div class="col-xs-1">
					<label class="btn btn-default active">Thu</label>
				</div>	
			{%endif %}
			{%if entity.friday %}
				<div class="col-xs-1">
					<label class="btn btn-warning active" >Fri</label>
				</div>
			{% endif %}
			{%if entity.saturday %}
				<div class="col-xs-1">
					<label class="btn btn-danger active">Sat</label>
				</div>
			{% endif %}
			{%if entity.sunday %}
				<div class="col-xs-1">
					<label clicl="" class="btn btn-success active">Sun</label>
				</div>
			{% endif %}
				</div>
		</div>
		
		{% endif %}
		<div id = "comment_box">
			{% if logged_in == 0 %}
				Please log in to leave comments.
			{% else %}
			<br>
				<div class="form-group">
					<label class="col-xs-3 control-label">Leave a comment below:</label>
					<textarea placeholder = "Enter comment here..." id = "comment-text" rows = "5" cols = "50"></textarea>
					<br><button onclick="addComment({{parent_id}}, {{type}})" type ="button" class="btn btn-success btn-md" ><span class="glyphicon glyphicon-ok"></span>Submit</button>
				</div>
			{% endif %}
			<label class="col-xs-3 control-label">Comments:</label>
		</div>
		<div id = 'comment-container'></div>
	</div>
	<script>fetch({{parent_id}}, {{type}})</script>
{% endblock bodycontent %}

