{% extends "base_template/base.html" %}
{% block bodycontent %}

	<script src="static/comment.js"></script>
	<div class = "jumbotron">
		{% if type == 0 %}
			<div class="form-group">
        		<label class="col-xs-3 control-label">Trip name:</label>
        		<div class="row input-group">{{entity.name}}
        		</div>
        		<br>
				<label class="col-xs-3 control-label">Origin City:</label><div class="row input-group">{{entity.origin_city}}
				</div>
				<br>
				<label class="col-xs-3 control-label">Origin State:</label><div class="row input-group">  {{entity.origin_state}}  </div>
				<br>
				<label class="col-xs-3 control-label">Origin Zip:</label> <div class="row input-group">{{entity.origin_zip}}</div><br>
				<label class="col-xs-3 control-label">Destination City:</label><div class="row input-group">{{entity.origin_city}}</div> <br>
				<label class="col-xs-3 control-label">Origin City:</label><div class="row input-group">{{entity.dest_city}} </div><br>
				<label class="col-xs-3 control-label">Destination State:</label><div class="row input-group">{{entity.dest_state}} </div> <br>
				<label class="col-xs-3 control-label">Destination Zip:</label><div class="row input-group">{{entity.dest_zip}}</div>
				
				<br>
				<label class="col-xs-3 control-label">Description:</label> <div class="row input-group">{{entity.description}}</div>  <br>
        	</div>
		{% else %}
		<div class="form-group">
			<label class="col-xs-3 control-label">Commute name:</label> {{entity.name}}
			<label class="col-xs-3 control-label">Origin City:</label> {{entity.origin_city}}
			<label class="col-xs-3 control-label">Origin State:</label> {{entity.origin_state}} 
			<label class="col-xs-3 control-label">Origin Zip:</label> {{entity.origin_zip}}
			<label class="col-xs-3 control-label">Destination City:</label> {{entity.dest_city}}
			<label class="col-xs-3 control-label">Destination State:</label> {{entity.dest_state}}
			<label class="col-xs-3 control-label">Destination Zip:</label> {{entity.dest_zip}}
			<label class="col-xs-3 control-label">Description:</label> {{entity.description}}
		</div> 	
		<div class="form-group">
			<label class="col-xs-3 control-label">Days:</label> 
			<div class="btn-group" data-toggle="buttons">

			{%if entity.monday %}
				Mon
			{% endif %}
			{%if entity.tuesday %}
				Tue
			{% endif %}
			{%if entity.wednesday %}
				Wed
			{% endif %}
			{%if entity.thursday %}
				Thu
			{%endif %}
			{%if entity.friday %}
				Fri
			{% endif %}
			{%if entity.saturday %}
				Sat
			{% endif %}
			{%if entity.sunday %}
				Sun<
			{% endif %}

		</div>
			
		{% endif %}
		<div id = "comment_box">
			{% if logged_in == 0 %}
				Please log in to leave comments.
			{% else %}
				Leave a comment below:<br>
				<textarea placeholder = "Enter comment here..." id = "comment-text" rows = "5" cols = "50"></textarea>
				<br><button onclick="addComment({{parent_id}}, {{type}})" type ="button"  >Submit</button><br><br>
			{% endif %}
			<strong>Comments:</strong><br><br>
		</div>
		<div id = 'comment-container'>
			
		</div>
	</div>
	<script>fetch({{parent_id}}, {{type}})</script>
{% endblock bodycontent %}

