{% extends "base_template/base.html" %}
{% block bodycontent %}

	<script src="static/comment.js"></script>
	<div class = "jumbotron">
		{% if type == 0 %}
			Trip name: {{entity.name}} <br>
			Origin City: {{entity.origin_city}} <br>
			Origin State: {{entity.origin_state}} <br>
			Origin Zip: {{entity.origin_zip}} <br><br>
			Destination City: {{entity.dest_city}} <br>
			Destination State: {{entity.dest_state}} <br>
			Destination Zip: {{entity.dest_zip}} <br><br>
			Contact Information:<br>
			{{entity.contact}}<br>
			Description: <br> {{entity.description}}
		{% else %}
			Commute name: {{entity.name}} <br>
			Origin City: {{entity.origin_city}} <br>
			Origin State: {{entity.origin_state}} <br>
			Origin Zip: {{entity.origin_zip}} <br><br>
			Destination City: {{entity.dest_city}} <br>
			Destination State: {{entity.dest_state}} <br>
			Destination Zip: {{entity.dest_zip}} <br><br>
			Description: <br> {{entity.description}} <br><br>	
			
			Days:<br>
			{%if entity.monday %}
				Mon
			{% endif %}
			{%if entity.tuesday %}
				Tue
			{% endif %}
			{%if entity.wednesday %}
				Wed
			{% endif %}
			{%if entity.thursday %}
				Thu
			{%endif %}
			{%if entity.friday %}
				Fri
			{% endif %}
			{%if entity.saturday %}
				Sat
			{% endif %}
			{%if entity.sunday %}
				Sun
			{% endif %}
		{% endif %}
		<div id = "comment_box">
			{% if logged_in == 0 %}
				Please log in to leave comments.
			{% else %}
				Leave a comment below:<br><br>
				<textarea placeholder = "Enter comment here..." id = "comment-text" rows = "10" cols = "50"></textarea>
				<button onclick="addComment({{parent_id}}, {{type}})" type ="button"  >Submit</button>
			{% endif %}
		</div>
		<div id = 'comment-container'>
			
		</div>
	</div>
	<script>fetch({{parent_id}}, {{type}})</script>
{% endblock bodycontent %}

