<html>
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <!-- JS -->
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src= "js/script.js"></script>
    <script src= "js/bookdata.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active" >
            <a href="/"> Home </a>
          </li>
          <li>
            <a href="/post">Submit a Trip</a>
          </li>
          <li>
            <a href="/search">Search a Trip</a>
          </li>
          
          <li><a href="https://www.google.com">Log in</a></li>
          
        </ul>
        <h3 class="text-muted">TripPAL</h3>
      </div> <!-- End Header -->

      
<div class="jumbotron">
  <h1>tripPAL</h1>
  <p class="lead">Find fellow travlers, and </p>
  <p><a id="sign-up-button" class="btn btn-lg btn-success" href="https://www.google.com/accounts/ServiceLogin?service=ah&amp;passive=true&amp;continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttp://book-bazaar-1520.appspot.com/&amp;ltmpl=gm&amp;shdf=ChcLEgZhaG5hbWUaC0Jvb2sgQmF6YWFyDBICYWgiFOagsfRA87J3ILD3wbbgDzSEfQJFKAEyFLhVY_-adbSel4AQbdZmKS4Yrq__"
    role="button">Sign up with Google</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>low travel cost</h4>
    <p>join forces with other travelers to get there cheaper!</p>
  </div>
  <div class="col-lg-6">
    <h4>find the traveler commuters</h4>
    <p>More texts of stuff that I dont know about
    </p>
  </div>
</div>


      <div class="footer">
        <p>&copy; tripPAL 2015</p>
      </div> <!-- End Footer -->
    </div> <!-- End Container -->
  </body>
</html>