{% extends "base_template/base.html" %}
{% block bodycontent %}
	<link rel="stylesheet" type = "text/css" href="stylesheets/form.css">
	
	<div class="jumbotron" >

		<form action = "/acceptPost" method = "POST">
	  		<div class="form-group">
        		<label class="col-xs-3 control-label">Select what you want to create:</label>	
        	
				<select name = "type" id="type" class="type">
					<option></option>
					<option value = "c">Commute</option>
					<option value = "t">Trip</option>
				</select>
			</div>
			<div id = 'search-place'>
				<div class="form-group">
					<label class="col-xs-3 control-label">Search by address or name:</label>
					<div class="row input-group">  
			        	<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
			     		<div class="col-xs-4 col-md-4">
							<input id="autocomplete" type="text" name="searchBar" onFocus="geolocate()" size="50" class="form-control input-md" placeholder="Enter location"></input>
						</div>
					</div>
				</div>
			</div>

			<div id = 'trip-spot'>
				<div class="form-group">
		        	<label class="col-xs-3 control-label">Enter the trip name:</label>
					<div class="row input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-star"></i>
					</span>
						<div class="col-xs-4 col-md-4">
				   			<input type = "text" name = "name" class="form-control input-md" placeholder="Trip Name...">
				   		</div>
					</div>
				</div>	
				<div class="form-group">
		        	<label class="col-xs-3 control-label">Starting at:</label>
					<div class="row input-group">  
			        	<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
			        	<div class="col-xs-3 col-md-3"> 
					   		<input type = "text" name = "origin_city"  class="form-control input-xs" placeholder="Origin City">
					   	</div>
					   	<div class="col-xs-3 col-md-3"> 
					   		<input type = "text" name = "origin_state" class="form-control input-xs" placeholder="Origin State">
					   	</div> 
						<div class="col-xs-3 col-md-3"> 
						   	<input type = "text" name = "origin_zip" class="form-control input-md" placeholder="Origin Zip Code">
						</div>
					</div> 
				</div>
				
				<div class="form-group">
		        	<label class="col-xs-3 control-label">Ending at:</label>
		        	<div class="row input-group">
		        		<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
		        		<div class="col-xs-4 col-md-4">
		        			<input id="street_number" class="form-control input-xs" placeholder="Street Number" ></input>
		        		</div>
						<div class="col-xs-4 col-md-4">
							<input id="route" class="form-control input-xs" placeholder="Route"></input>
						</div>
					</div>
					<br>
					<label class="col-xs-3 control-label"></label>
					<div class="row input-group">  
			        	<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
			        	<div class="col-xs-3 col-md-3"> 
					   		<input type = "text"   class="form-control input-xs" placeholder="Destination City" id="locality" name="dest_city">
					   	</div>
					   	<div class="col-xs-3 col-md-3"> 
					   		<input type = "text" class="form-control input-xs" placeholder="Destination State" id="administrative_area_level_1" name="dest_state">
					   	</div> 
						<div class="col-xs-3 col-md-3"> 
						   	<input type = "text" class="form-control input-xs" placeholder="Destination Zip Code" id="postal_code" name="dest_zip">
						</div>
					</div>
				
					<div class="row input-group"> 
						
							<label class="col-xs-3 control-label"> </label>
							<input type="hidden" id="country" disabled="true" placeholder="Country">
					</div>
				</div>
	
					<div class="form-group">
						<label class="col-xs-3 control-label">Enter your contact information :</label>
						<div class="row input-group">  
			        		<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>		        	
							<div class="col-xs-5 col-md-5"> 
								<input type = "text" class="form-control input-xs" type="text" name = "contactInfo" placeholder="(email or phone number)">
							</div>
					</div>
					<br>
					<div class="form-group">
						<label class="col-xs-3 control-label">Describe the nature of your trip:</label>
						<textarea name = "description" rows = "12" cols = "50" onclick="this.focus();this.select()" placeholder="Enter description here..."></textarea> 
					</div>
					<button type="button" type = "submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span value = "Submit Trip"> Submit</button>
				</div>
			</div>
			
			
			<div id = 'commute-spot'>
				<div class = "form-group">
		        	<label class="col-xs-3 control-label">Enter the commute name: </label>
					<div class="row input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
						<div class="col-xs-4 col-md-4">
				   			<input type = "text" name = "name_commute" class="form-control input-xs" placeholder="Commute Name...">
				   		</div>
					</div>
				</div>	 		
				<div class="form-group">
		        	<label class="col-xs-3 control-label">Starting at:</label>
					<div class="row input-group">  
			        	<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
			        	<div class="col-xs-3 col-md-3"> 
					   		<input type = "text" name = "origin_city_commute"  class="form-control input-xs" placeholder="Origin City">
					   	</div>
					   	<div class="col-xs-3 col-md-3"> 
					   		<input type = "text" name = "origin_state_commute" class="form-control input-xs" placeholder="Origin State">
					   	</div> 
						<div class="col-xs-3 col-md-3"> 
						   	<input type = "text" name = "origin_zip_commute" class="form-control input-md" placeholder="Origin Zip Code">
						</div>
					</div> 
				</div>

				<div class="form-group">
		        	<label class="col-xs-3 control-label">Ending at:</label>
		        	<div class="row input-group">
		        		<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
		        		<div class="col-xs-4 col-md-4">
		        			<input id="street_number1" class="form-control input-xs" placeholder="Street Number" ></input>
		        		</div>
						<div class="col-xs-4 col-md-4">
							<input id="route1" class="form-control input-xs" placeholder="Route"></input>
						</div>
					</div>
					<br>
					<label class="col-xs-3 control-label"></label>
					<div class="row input-group">  
			        	<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
			        	<div class="col-xs-3 col-md-3"> 
					   		<input type = "text"   class="form-control input-xs" placeholder="Destination City" id="locality1" name="dest_city_commute">
					   	</div>
					   	<div class="col-xs-3 col-md-3"> 
					   		<input type = "text" class="form-control input-xs" placeholder="Destination State"  id="administrative_area_level_11" name="dest_state_commute">
					   	</div> 
						<div class="col-xs-3 col-md-3"> 
						   	<input type = "text" class="form-control input-xs" placeholder="Destination Zip Code"  id="postal_code1" name="dest_zip_commute">
						</div>
					</div> 
					<div class="row input-group"> 
						<div class="row input-group"> 
							<label class="col-xs-3 control-label"> </label>
							<input type="hidden" id="country1" disabled="true" placeholder="Country">
						</div>
					</div>	
				</div>
				
				 <div class="row">	
           			 <div class="col-xs-1">
                		<div class="input-group">
                    		<span class="input-group-addon beautiful">
                    	    <input type="checkbox" name = "monday" value = "monday">
                    		</span>
                    		<label class="btn btn-success active">Mon</label>
                		</div>
                	  </div>
                	  <div class="col-xs-1">
                		<div class="input-group">
                    		<span class="input-group-addon beautiful">
                    	    <input type="checkbox" name = "tuesday" value = "tuesday">
                    		</span>
                    		<label class="btn btn-primary active">Tue</label>
                		</div>
                		</div>
                		<div class="col-xs-1">
                		<div class="input-group">
                    		<span class="input-group-addon beautiful">
                    	    <input type="checkbox" name = "wednesday" value = "wednesday">
                    		</span>
                    		<label class="btn btn-info active">Wed</label>
                		</div>
                		</div>
                		<div class="col-xs-1">
                		<div class="input-group">
                    		<span class="input-group-addon beautiful">
                    	    <input type="checkbox" name = "thursday" value = "thursday">
                    		</span>
                    		<label class="btn btn-default active">Thu</label>
                		</div>
                		</div>
                		<div class="col-xs-1">
                		<div class="input-group">
                    		<span class="input-group-addon beautiful">
                    	    <input type="checkbox" name = "friday" value = "friday">
                    		</span>
                    		<label class="btn btn-warning active" >Fri</label>
                		</div>
                		</div>
                		<div class="col-xs-1">
                		<div class="input-group">
                    		<span class="input-group-addon beautiful">
                    	    <input type="checkbox" name = "saturday" value = "saturday">
                    		</span>
                    		<label class="btn btn-danger active">Sat</label>
                		</div>
                		</div>
                		<div class="col-xs-1">
                		<div class="input-group">
                    		<span class="input-group-addon beautiful">
                    	    <input type="checkbox" name = "sunday" value = "sunday">
                    		</span>
                    		<label class="btn btn-success active">Sun</label>
                		</div>
                		</div> 		
            	</div>
				<br>
					<div class="form-group">
						<label class="col-xs-3 control-label">Describe the nature of your trip:</label>
						<textarea name = "description_commute" rows = "12" cols = "50" onclick="this.focus();this.select()" placeholder="Enter description here..."></textarea> 
					</div>
					<button type="button" type = "submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span value = "Submit Commute"> Submit</button>
		
			

		</form>
		<script src="static/form.js"></script>
	</div>
	
{% endblock %}