<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

  </head>
    <body>
        <form action="/" method="POST"> <!-- The method is the HTTP method used and action is the address sent to server -->
                
         <input type="text" name="subject" id="subjectId" ></input>
         <input type="text" name="location" id="locationID" ></input>
         <input type="text" name="description" id="descriptionID" ></input>
        </form>
    </body>
</html>
