{% extends "base_template/base.html" %}
{% block bodycontent %}

        <div class="jumbotron">
          <form action="/profile" method="POST"> <!-- The method is the HTTP method used and action is the address sent to server -->
           Personal Information: <br><br>      
     	   <label>First name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
		   <input type = "text" name = "fname">&nbsp&nbsp
		   <label>Last name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input type = "text" name = "lname"><br><br>

		   <label>Email&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input  type = "text" name = "email"><br><br>

		   <label>address&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input  type = "text" name = "address"><br><br>

		   <label>city&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input  type = "text" name = "email"><br><br>

		   <label>state&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input  type = "text" name = "email"><br><br>

		   <label>zip&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input  type = "text" name = "email"><br>
          </form>
        </div>

{% endblock %}