{% extends "base_template/base.html" %}
{% block bodycontent %}

        <div class="jumbotron">
		  {%if trip_posted%}
          <h3>Found trips ({{trips}}):</h3>
          <table class="table table-bordered">
            <thead>
                <tr>
					<th>Name</th>
                    <th>Creator</th>
                    <th>City Destination</th>
                    <th>State Destination</th>
                    <th>Zip Destination</th>
                </tr>
            </thead>
            <tbody class="table-striped">
              {{trip_posted.size}}
              {% for t in trip_posted %}
                <tr>
                  <td><a href="/view?id={{t.key.id}}&type={{type}}">{{t.name}}</a></td>
                  <td>{{t.creator}}</td>
                  <td>{{t.dest_city}}</td>
                  <td>{{t.dest_state}}</td>
                  <td>{{t.dest_zip}}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
		 {% else %}
		 <h3>Nothing was found.</h3>
		 {% endif %}
        </div>
    </body>
</html>

{% endblock bodycontent %}

